* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 162, 133);
  color: rgb(255, 237, 224);
  font-family: "Quicksand", sans-serif;
}

header {
  margin: 0 auto;
  display: block;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 20px;
  text-transform: lowercase;
  letter-spacing: 0.05em;
}

h3 {
  text-transform: uppercase;
  border-bottom: 0.3rem solid rgb(156, 136, 129);
  font-size: 3rem;
  margin-top: 0;
}

.enter {
  display: flex;
  justify-content: center;
  margin: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1.landing {
  font-size: 5rem;
  margin-top: 1em;
}

button {
  border: 0;
  padding: 1em;
  border-radius: 10rem;
  width: 10rem;
  text-transform: lowercase;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: rgb(216, 136, 111);
}

button:hover {
  color: rgb(186, 110, 86);
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
}

li > a:hover {
  border-bottom: 0.15rem solid rgb(156, 136, 129);
  font-weight: 600;
  transition: border 200ms ease;
}

li:hover {
  font-weight: 600;
  transition: border 200ms ease;
}

.container {
  display: flex;
  align-items: flex-start;
  align-content: left;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2em;
  background-color: rgba(156, 136, 129, 10%);
  padding: 2em;
  min-width: 30vw;
}

.hero-image {
  display: block;
  margin: 0 auto;
  max-width: 60vw;
}

.addVenue {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 0%;
  margin-top: 10px;
  padding: 5px;
  color: rgb(156, 136, 129);
}

#year {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.submit {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
  border: 0;
  padding: 0.5em;
  width: 5rem;
  text-transform: lowercase;
  font-size: 0.9rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: rgb(216, 136, 111);
}

.submit:hover {
  color: rgb(186, 110, 86);
}

input {
  margin: 0.3em;
  border: 0;
  padding: 0.5em;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-end;
}

label {
  margin-bottom: 0.5em;
}